<%= provide(:title,'Freelance Jobs')%>

<%= render 'head'%>
<div class="container-fluid container-fixed-lg">
  <div class="panel panel-transparent">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <div class="row">
        <%@jobs.each do |job|%>
            <%= render 'job', job: job%>
        <%end%>
      </div>
    </div>
  </div>
</div>


