

<div class="page-content-wrapper ">

  <div class="content ">

    <%= render 'form'%>


    <div class="jumbotron" data-pages="parallax">
      <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">

          <ul class="breadcrumb">
            <li>
              <a href="#">Forms</a>
            </li>
            <li><a href="#" class="active">Form Elements</a>
            </li>
          </ul>

          <div class="row">
            <div class="col-lg-7 col-md-6 ">

              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <img class="image-responsive-height demo-mw-600" src="assets/img/demo/form_hero.gif" alt="">
                </div>
              </div>

            </div>
            <div class="col-lg-5 col-md-6 ">

              <div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="panel-title">Getting started
                  </div>
                </div>
                <div class="panel-body">
                  <h3>One of the most underestimated elements of design is typography. However, it’s
                    critical in both print and web media. We Made it Perfect in both.</h3>
                  <br>
                  <div>
                    <div class="profile-img-wrapper m-t-5 inline">
                      <img width="35" height="35" src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg">
                      <div class="chat-status available">
                      </div>
                    </div>
                    <div class="inline m-l-10">
                      <p class="small hint-text m-t-5">VIA senior product manage
                        <br> for UI/UX at REVOX</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fixed-lg">
      <div class="row">
        <div class="col-md-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Option #one
              </div>
            </div>
            <div class="panel-body">
              <h5>
                Pages default style
              </h5>
              <form class="" role="form">
                <div class="form-group form-group-default required ">
                  <label>Project</label>
                  <input type="email" class="form-control" required>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group form-group-default required">
                      <label>First name</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-group-default">
                      <label>Last name</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group form-group-default required">
                  <label>Password</label>
                  <input type="password" class="form-control" required>
                </div>
                <div class="form-group  form-group-default required">
                  <label>Placeholder</label>
                  <input type="email" class="form-control" placeholder="ex: some@example.com" required>
                </div>
                <div class="form-group form-group-default disabled">
                  <label>Disabled</label>
                  <input type="email" class="form-control" value="You can put anything here" disabled>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="col-md-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Option #two
              </div>
            </div>
            <div class="panel-body">
              <h5>
                Traditional Standard Style
              </h5>
              <form role="form">
                <div class="form-group">
                  <label>Your name</label>
                  <span class="help">e.g. "Mona Lisa Portrait"</span>
                  <input type="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <span class="help">e.g. "Mona Lisa Portrait"</span>
                  <input type="password" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Email</label>
<span class="help">e.g. "<a class="__cf_email__" href="http://pages.revox.io/cdn-cgi/l/email-protection" data-cfemail="1b6874767e5b7e637a766b777e35787476">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">
    /* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script>"</span>
                  <input type="email" class="form-control" placeholder="ex: some@example.com" required>
                </div>
                <div class="form-group">
                  <label>Placeholder</label>
<span class="help">e.g. "<a class="__cf_email__" href="http://pages.revox.io/cdn-cgi/l/email-protection" data-cfemail="5f2c30323a1f3a273e322f333a713c3032">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">
    /* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script>"</span>
                  <input type="email" class="form-control" placeholder="ex: some@example.com" required>
                </div>
                <div class="form-group">
                  <label>Disabled</label>
<span class="help">e.g. "<a class="__cf_email__" href="http://pages.revox.io/cdn-cgi/l/email-protection" data-cfemail="9ae9f5f7ffdaffe2fbf7eaf6ffb4f9f5f7">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">
    /* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script>"</span>
                  <input type="email" class="form-control" value="You can put anything here" disabled>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
