

<div class="page-content-wrapper ">

  <div class="content ">
        <div class="jumbotron" data-pages="parallax">
      <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">

          <ul class="breadcrumb">
            <li>
              <a href="#">Forms</a>
            </li>
            <li><a href="#" class="active">Form Elements</a>
            </li>
          </ul>

          <div class="row">
            <div class="col-lg-7 col-md-6 ">

              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <img class="image-responsive-height demo-mw-600" src="assets/img/demo/form_hero.gif" alt="">
                </div>
              </div>

            </div>
            <div class="col-lg-5 col-md-6 ">

              <div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="panel-title">Getting started
                  </div>
                </div>
                <div class="panel-body">
                  <h3>One of the most underestimated elements of design is typography. However, it’s
                    critical in both print and web media. We Made it Perfect in both.</h3>
                  <br>
                  <div>
                    <div class="profile-img-wrapper m-t-5 inline">
                      <img width="35" height="35" src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg">
                      <div class="chat-status available">
                      </div>
                    </div>
                    <div class="inline m-l-10">
                      <p class="small hint-text m-t-5">VIA senior product manage
                        <br> for UI/UX at REVOX</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fixed-lg">
      <div class="row">
        <%= render 'form'%>
      </div>
    </div>
  </div>
</div>
