  <div class="jumbotron sm vertical center bg-white column-w4 vertical-bottom no-margin" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20 full-height">
      <div class="inner text-center p-t-50 m-t-80 full-height">
        <p class="font-montserrat bold hint-text"> Let the work speak for itself </p>
        <div class="m-b-20">
          <h1 class="text-black inline"> Freelancer Showcase </h1>
        </div>
        <div class="input-group padding-10 transparent col-md-5 b-b b-grey center-margin">
          <input type="text" class="form-control no-border" placeholder="Search widget market: Finance, Charts, Weather etc" id="widget-filter" name="widget-filter">
<span class="input-group-addon no-border">
<i class="pg-search"></i>
</span>
        </div>
        <div class="m-t-20 m-b-40 ">
        </div>
      </div>
    </div>
  </div>